# =========================
# macOS
# =========================
.DS_Store

# =========================
# Java
# =========================
*.class

# =========================
# Maven
# =========================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

# Keep Maven wrapper files
!.mvn/wrapper/maven-wrapper.properties
!mvnw
!mvnw.cmd

# =========================
# Spring Boot
# =========================
*.log

# =========================
# STS / Eclipse
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Gradle / Build
# =========================
build/

# =========================
# VS Code
# =========================
.vscode/

.env
